
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Flight App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Planes </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
                                            <th>FlightID</th>
                                            <th>Country</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
					</tr>
				</thead>
				<tbody>	
                                    <tr th:each="plane : ${planes}">
                                        <td><span th:text="${plane.flightID}"> FlightID </span></td>
                                        <td><span th:text="${plane.country}"> Country </span></td>
                                        <td><span th:text="${plane.latitude}"> Latitude </span></td>
                                        <td><span th:text="${plane.longitude}"> Longitude </span></td>
                                    </tr>
				</tbody>
			</table>
                </div>
	</div>
</div>
</body>
</html>